body {
  margin: 0;
}

.clearfix {
  clear: both;
}

header {
  background-image: url("https://raw.githubusercontent.com/irijahdeleon/irijahdeleon.github.io/main/mainbanner-min.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
}

header img {
  width: 300px;
  margin: 10px 0 0 30px;
}

nav {
  position: absolute;
  top: 10px;
  right: 30px;
}

nav ul li {
  float: left;
  margin-left: 20px;
  font-family: "Lora", serif;
  list-style: none;
  font-weight: 500;
  text-shadow: 2px 4px 5px #000000;
}

nav ul li a {
  color: white;
  font-family: "Lora", serif;
  text-decoration: none;
}

/* bodytext */

header h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 96px;
  font-weight: bold;
  color: #88ebf2;
  margin: 0px;
  margin-bottom: 0px;
}

header h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: 400;
  color: white;
  letter-spacing: 40px;
  padding-top: 0px;
}

/* cards! <3 */

#blurb {
  position: absolute;
  bottom: 10px;
  left: 30px;
}

main {
  background-color: #ddd9d8;
}

.sectiontitle {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
}

.sectiontitle h2 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 12 px;
  font-weight: 400;
  letter-spacing: 30px;
  margin: 0;
}

#services {
  width: 960px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
  height: auto;
}

.card {
  width: 300px;
  float: left;
  margin-left: 30px;
}

.card h4 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.card p {
  font-family: "Lora", serif;
  font-weight: 300;
}

.card:first-child {
  margin-left: 0px;
}

div. space {
  display: block;
  top-padding: 20px;
  background-color: #88eaf2;
}

footer {
  background-color: #88eaf2;
  background-size: cover;
  position: relative;
}

div.ft {
  width: 960px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.ftl {
  margin-top: 30px;
  padding-right: 30px;
  font-family: "Lora", serif;
  color: #3B7276;
  font-size: 14px;
  width: 33%;
  float: left;
  width: 300px;
}

.ftr {
  margin-top: 50px;
  font-family: "Open Sans", sans-serif;
  color: #3B7276;
  font-size: 12px;
  float: right;
  width: 67%;
  text-align: left;
  
}

.ftr1{
  float: left;
  width: 48%
}
.ftr2{
  float: right;
  width: 48%
}

div.navfoot{
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  text-decoration: none;
}
